<!-- Sign In Modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <button id="loginModalClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginModalLabel">Log in</h3>
        <form id="loginModalForm" class="form-horizontal" action="/login">
            <div class="loginModalControl control-group">
                <div class="loginModalControl controls">
                    <input id="loginModalUsername" type="text" name="username" placeholder="Email or ID" autocomplete="off">
                </div>
            </div>
            <div class="loginModalControl control-group">
                <div class="loginModalControl controls">
                    <input id="loginModalPassword" type="password" name="password" placeholder="Password" autocomplete="off">
                </div>
            </div>
            <div class="loginModalControl control-group">
                <div class="loginModalControl controls">
                    <button id="loginModalRoundButton" type="submit" class="btn">Log in</button>
                </div>
            </div>
            <a id="loginModalForgotPassword" href="/auth/facebook">Forgot your password?</a>
            <a id="loginModalRegisterNow" href="#registerModal" data-toggle="modal">Register now</a>
        </form>

        <a id="loginModalFacebook" href="/auth/facebook" class="btn btn-primary">Connect to Facebook</a>
        <a id="loginModalGoogle" href="/auth/google" class="btn btn-danger">Connect to Google+</a>
    </div>
</div>