<!-- Sign Up Modal -->
<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Register</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="/register" method="post">
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="inputWatchOut" name="username" placeholder="ID">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="inputWatchOut" name="email" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="inputWatchOut" name="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="/auth/facebook" class="btn btn-primary" disabled>Connect to Facebook</a>
        <a href="/auth/google" class="btn btn-danger" disabled>Connect to Google+</a>
    </div>
</div>