//Register Modal
div#registerModal.modal.hide.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	div.modal-body
		button#registerModalClose.close(type="button" data-dismiss="modal" aria-hidden="true") ×
		h3#registerModalLabel Register
		form#registerModalForm.form-horizontal(action="/auth/register" method="post")
			div.registerModalControl.control-group
				div.registerModalControl.controls
					input#registerModalUsername(type="text" name="registerUsername" placeholder="Username")
			div.registerModalControl.control-group
				div.registerModalControl.controls
					input#registerModalEmail(type="text" name="registerEmail" placeholder="Email")
			div.registerModalControl.control-group
				div.registerModalControl.controls
					input#registerModalPassword(type="password" name="registerPassword" placeholder="Password")
			div.registerModalControl.control-group
				div.registerModalControl.controls
					input#registerModalRetypePassword(type="password" name="registerPasswordAgain" placeholder="Re-type your password")
			div.registerModalControl.control-group
				div.registerModalControl.controls
					button#registerModalRoundButton.btn(type="submit") Register
			a#registerModalHaveAccount(href="#loginModal" data-toggle="modal") Already have account?
			a#registerModalForgotUsername(href="/auth/facebook") Forgot your username?

		a#registerModalFacebook.btn.btn-primary(href="/auth/facebook") Connect to Facebook
		a#registerModalGoogle.btn.btn-danger(href="/auth/google") Connect to Google+
