<!-- Register Modal -->
<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <button id="registerModalClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="registerModalLabel">Register</h3>
        <form id="registerModalForm" class="form-horizontal" action="/register">
            <div class="registerModalControl control-group">
                <div class="registerModalControl controls">
                    <input id="registerModalUsername" type="text" name="username" placeholder="Username" autocomplete="off">
                </div>
            </div>
            <div class="registerModalControl control-group">
                <div class="registerModalControl controls">
                    <input id="registerModalEmail" type="text" name="email" placeholder="Email" autocomplete="off">
                </div>
            </div>
            <div class="registerModalControl control-group">
                <div class="registerModalControl controls">
                    <input id="registerModalPassword" type="password" name="password" placeholder="Password" autocomplete="off">
                </div>
            </div>
            <div class="registerModalControl control-group">
                <div class="registerModalControl controls">
                    <input id="registerModalRetypePassword" type="password" name="password" placeholder="Re-type Password" autocomplete="off">
                </div>
            </div>
            <div class="registerModalControl control-group">
                <div class="registerModalControl controls">
                    <button id="registerModalRoundButton" type="submit" class="btn">Register</button>
                </div>
            </div>
            <a id="registerModalHaveAccount" href="#loginModal" data-toggle="modal">Already have account?</a>
            <a id="registerModalForgotUsername" href="/auth/facebook">Forgot your Username?</a>
        </form>

        <a id="registerModalFacebook" href="/auth/facebook" class="btn btn-primary">Connect to Facebook</a>
        <a id="registerModalGoogle" href="/auth/google" class="btn btn-danger">Connect to Google+</a>
    </div>
</div>