<!-- Sign In Modal -->
<div id="signInModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sign in to WATCH OUT</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="/login">
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="inputEmailorID" placeholder="Email or ID">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Connect to Facebook</button>
        <button class="btn btn-danger">Connect to Google+</button>
    </div>
</div>