html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.btn-nav {
    margin: 5px;
}
#leftHeaderContent {
    display: block;
    float: left;
}
#rightHeaderContent {
    display: block;
    float: right;
    margin-right: 10px
}
#nav {
    position: absolute;
    top: 0;
    left: 0;
    background:url('/images/navi_background.png');
    background-repeat:repeat-x;
    background-color: #e4ad32;
    opacity: 1;
    height: 42px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}
#menuButton {
    position: absolute;
    background:url('/images/menu_bt.png');
    width: 31px;
    height: 26px;
    margin-left: 15px;
    margin-top: 8px;
    padding: 0px;
    border: 0px;
}
#logo {
    position: absolute;
    background:url('/images/watchout_logo.png');
    background-repeat:no-repeat;
    padding: 0;
    margin: 0;
    z-index: 2;
    width: 100%;
    left:50%;
    margin-left: -72px;
    margin-top: 9px;
    width: 158px;
    height: 22px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font: 0/0 serif;
    text-shadow: none;
}
#sign {
    position: relative;
}
#sign-in {
    color: #ffffff;
    text-align: right;
    opacity: 1;
    padding: 0;
    margin: 50px;
    font-style: bold;
    font-family:"Verdana", sans-serif;
    z-index: 2;
}
#sign-up {
    color: #ffffff;
    text-align: right;
    opacity: 1;
    padding: 0;
    margin: 0;
    font-style: bold;
    font-family:"Verdana", sans-serif;
    z-index: 2;
}
#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}