<div id="nav">
    <div id="leftHeaderContent">
        <button id="menuButton"></button>
    </div>
    <a href="/" id="logo" data-force-refresh="1">WatchOut</a>
</div>
<div id="map-canvas"></div>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script>
    $(function () {
        var body = $(this).find("body");
        var nav = $(this).find("#nav");
        var map = $(this).find("#map-canvas");
        map.css("height", body.height() - nav.height());
    });
</script>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
<style>
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #nav {
        background:url('/images/navi_background.png');
        background-repeat:repeat-x;
        background-color: #e4ad32;
        opacity: 1;
        height: 42px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }
    #menuButton {
        position: absolute;
        background:url('/images/menu.png');
        width: 31px;
        height: 26px;
        margin-left: 15px;
        margin-top: 8px;
        padding: 0px;
        border: 0px;
    }
    #logo {
        position: absolute;
        background:url('/images/watchout_logo.png');
        background-repeat:no-repeat;
        padding: 0;
        margin: 0;
        z-index: 2;
        width: 100%;
        left:50%;
        margin-left: -72px;
        margin-top: 9px;
        width: 158px;
        height: 22px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        font: 0/0 serif;
        text-shadow: none;
    }
    #sign {
        position: relative;
    }
    #sign-in {
        color: #ffffff;
        text-align: right;
        opacity: 1;
        padding: 0;
        margin: 50px;
        font-style: bold;
        font-family:"Verdana", sans-serif;
        z-index: 2;
    }
    #sign-up {
        color: #ffffff;
        text-align: right;
        opacity: 1;
        padding: 0;
        margin: 0;
        font-style: bold;
        font-family:"Verdana", sans-serif;
        z-index: 2;
    }
    #map-canvas {
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script type="text/javascript" src="/linker/js/map.js"></script>