<div id="nav" class="blur"></div>
<div id="title_div">
    <h1 id="title">WatchOut</h1>
</div>
<div id="map-canvas"></div>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script>
    // $(function () {
    //     var body = $(this).find("body");
    //     var nav = $(this).find("#nav");
    //     var map = $(this).find("#map-canvas");
    //     map.css("height", body.height() - nav.height());
    // });
</script>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
<script type='text/javascript' src='/js/blur.js'></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.blur').blurjs({
            source: 'body',
            radius:10
        });
    });
</script>
<style>
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #nav {
        position: absolute;
        background: #000000;
        opacity: 0.7;
        height: 40px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }
    #title_div {
        position: absolute;
        height: 40px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        z-index: 2;
    }
    #title {
        color: #e8a228;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
        padding: 0;
        margin: 0;
        font-style: bold;
        font-family:"Verdana", sans-serif;
    }
    #map-canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script>
    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addListener(map, 'center_changed', centerChanged);
    google.maps.event.addListener(map, 'zoom_changed', zoomChanged);
    google.maps.event.addListenerOnce(map, 'load', function(){
        $('.blur').blurjs({
            source: 'body',
            radius:10
        });
    });

    var map;
    var myloc;
    var maxZoomLevel = 30;
    var maxZoomService = new google.maps.MaxZoomService();

    function initialize() {
        var mapOptions = {
                zoom: 16,
                minZoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                mapTypeControl: false,
                panControl: false,
                scaleControl: true,
                streetViewControl: false,
                overviewMapControl: false
            };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        myloc = new google.maps.Marker({
            clickable: false,
            shadow: null,
            icon: "http://i.stack.imgur.com/orZ4x.png",
            map: map
        });

        if (!!navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            map.setCenter(new google.maps.LatLng(-34.397, 150.644));
        }
    }

    function showPosition(position) {
        var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map.setCenter(geolocate);
        myloc.setPosition(geolocate);
    }

    function showError(error) {
        switch (error.code) {
        case error.PERMISSION_DENIED:
            break;
        case error.POSITION_UNAVAILABLE:
            break;
        case error.TIMEOUT:
            break;
        case error.UNKNOWN_ERROR:
            break;
        }
        map.setCenter(new google.maps.LatLng(-34.397, 150.644));
    }

    function centerChanged() {
        maxZoomService.getMaxZoomAtLatLng(map.getCenter(), function (MaxZoomResult) {
            if (MaxZoomResult.status == google.maps.MaxZoomStatus.OK) {
                maxZoomLevel = MaxZoomResult.zoom;
            }
        });
    }

    function zoomChanged() {
        if (map.getZoom() > maxZoomLevel) {
            map.setZoom(maxZoomLevel);
        }
    }
</script>