<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script type="text/javascript" src="/linker/js/map.js"></script>

<script>
    function MenuOver()
    {
        document.getElementById("menuButton").style.background="url('/images/menu_bt_clicked.png')";
    }
    function MenuOut()
    {
    // document.getElementById("menuButton").style.background="url('/images/menu_bt.png')";
}
function MenuClicked()
{
    document.getElementById("menuButton").style.background="url('/images/menu_bt_clicked.png')";
}
function MenuUnClicked()
{
    document.getElementById("menuButton").style.background="url('/images/menu_bt.png')";
}
</script>
<style>
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .btn-nav {
        margin: 5px;
    }
    #leftHeaderContent {
        display: block;
        float: left;
    }
    #rightHeaderContent {
        display: block;
        float: right;
        margin-right: 10px
    }
    #nav {
        position: absolute;
        top: 0;
        left: 0;
        background:url('/images/navi_background.png');
        background-repeat:repeat-x;
        background-color: #e4ad32;
        opacity: 1;
        height: 42px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }
    #menuButton {
        position: absolute;
        background:url('/images/menu_bt.png');
        width: 31px;
        height: 26px;
        margin-left: 15px;
        margin-top: 8px;
        padding: 0px;
        border: 0px;
    }
    #logo {
        position: absolute;
        background:url('/images/watchout_logo.png');
        background-repeat:no-repeat;
        padding: 0;
        margin: 0;
        z-index: 2;
        width: 100%;
        left:50%;
        margin-left: -72px;
        margin-top: 9px;
        width: 158px;
        height: 22px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        font: 0/0 serif;
        text-shadow: none;
    }
    #sign {
        position: relative;
    }
    #sign-in {
        color: #ffffff;
        text-align: right;
        opacity: 1;
        padding: 0;
        margin: 50px;
        font-style: bold;
        font-family:"Verdana", sans-serif;
        z-index: 2;
    }
    #sign-up {
        color: #ffffff;
        text-align: right;
        opacity: 1;
        padding: 0;
        margin: 0;
        font-style: bold;
        font-family:"Verdana", sans-serif;
        z-index: 2;
    }
    #map-canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>

<div id="nav">
    <div id="leftHeaderContent">
        <input type="button" id="menuButton" onmouseover="MenuOver()" onmouseout="MenuOut()" onmousedown="MenuClicked()" onmouseup="MenuUnClicked()"></input>
    </div>
    <a href="/" id="logo" data-force-refresh="1">WatchOut</a>
    <div id="rightHeaderContent">
        <a href="#signInModal" data-taget="#signInModal" role="button" class="btn btn-warning btn-nav" data-toggle="modal">Sign In</a>
        <a href="#signUp" role="button" class="btn btn-warning btn-nav" data-toggle="modal">Sign Up</a>
    </div>
</div>
<div id="map-canvas" onkeyup="shortCut(event)"></div>

<!-- Sign In Modal -->
<div id="signInModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sign in to WATCH OUT</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Connect to Facebook</button>
        <button class="btn btn-danger">Connect to Google+</button>
    </div>
</div>