    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>

    <script>
        $(function() {
                var body = $(this).find("body");
                var nav = $(this).find("#nav");
                var login = $(this).find("#login-canvas");
                var map = $(this).find("#map-canvas");
                map.css("height", body.height() - nav.height() - login.height());
        });
    </script>

    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      #nav {
        margin: 0;
        padding: 0;
        height: 40px;
        background: #e8a228;
      }
      #login-canvas {
        margin: 0;
        padding: 0;
        height: 600px;
        background: #fbfbfb;
      }
      #map-canvas {
        margin: 0;
        padding: 0;
      }
      #title {
        margin: 0;
        padding: 0;
        text-align:center;
        color: #e8a228;
        font-size: 45px;
        font-weight: bold;
        font-family: "Verdana";
      }
      #title-sub {
        margin: 0;
        padding: 0;
        text-align:center;
        color: #63450b;
        font-size: 40px;
        font-family: "Courier New";
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script>
        var map;
        var myloc;
        var maxZoomLevel = 30;
        var maxZoomService = new google.maps.MaxZoomService();

        function initialize() {
            var mapOptions = {
                zoom: 16,
                minZoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                mapTypeControl: false,
                panControl: false,
                scaleControl: true,
                streetViewControl: false,
                overviewMapControl: false
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            myloc = new google.maps.Marker({
                clickable: false,
                shadow: null,
                icon: "http://i.stack.imgur.com/orZ4x.png",
                map:map
            });

            if(!!navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                map.setCenter(new google.maps.LatLng(-34.397, 150.644));
            }

            google.maps.event.addListener(map, 'center_changed', centerChanged);
            google.maps.event.addListener(map, 'zoom_changed', zoomChanged);
        }

        function showPosition(position) {
            var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(geolocate);
            myloc.setPosition(geolocate);
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    break;
                case error.POSITION_UNAVAILABLE:
                  break;
                case error.TIMEOUT:
                  break;
                case error.UNKNOWN_ERROR:
                  break;
            }
            map.setCenter(new google.maps.LatLng(-34.397, 150.644));
        }

        function centerChanged() {
            maxZoomService.getMaxZoomAtLatLng(map.getCenter(), function(MaxZoomResult) {
                if (MaxZoomResult.status == google.maps.MaxZoomStatus.OK) {
                    maxZoomLevel = MaxZoomResult.zoom;
                }
            });
        }

        function zoomChanged() {
            if (map.getZoom() > maxZoomLevel)
                map.setZoom(maxZoomLevel);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="nav"></div>
    <div id="login-canvas">
        <div></div>
        <h1 id="title">Watch Out</h1>
        <h2 id="title-sub">스마트 안전지도 소셜 네트워크 서비스</h2>
    </div>
    <div id="map-canvas"></div>