<div id="nav" class="blur">
    <a href="/" id="logo" data-force-refresh="1">WatchOut</a>
    <!-- <ul id="sign">
        <li id="sign-in">Sign in</li>
        <li id="sign-up">Sign up</li>
    </ul> -->
</div>
<div id="map-canvas"></div>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script>
    $(function () {
        var body = $(this).find("body");
        var nav = $(this).find("#nav");
        var map = $(this).find("#map-canvas");
        map.css("height", body.height() - nav.height());
    });
</script>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
<script type='text/javascript' src='/linker/js/blur.js'></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.blur').blurjs({
            source: 'body',
            radius:10
        });
    });
</script>
<style>
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #nav {
        background-image:url('/images/navi_background.png');
        background-repeat:repeat-x;
        background: #f7a914;
        opacity: 0.8;
        height: 42px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }
    #logo {
        position: absolute;
        background:url('/images/watchout_logo.png');
        background-repeat:no-repeat;
        padding: 0;
        margin: 0;
        z-index: 2;
        width: 100%;
        left:50%;
        margin-left: -72px;
        margin-top: 9px;
        width: 144px;
        height: 21px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        font: 0/0 serif;
        text-shadow: none;
    }
    #sign {
        position: relative;
    }
    #sign-in {
        color: #ffffff;
        text-align: right;
        opacity: 1;
        padding: 0;
        margin: 50px;
        font-style: bold;
        font-family:"Verdana", sans-serif;
        z-index: 2;
    }
    #sign-up {
        color: #ffffff;
        text-align: right;
        opacity: 1;
        padding: 0;
        margin: 0;
        font-style: bold;
        font-family:"Verdana", sans-serif;
        z-index: 2;
    }
    #map-canvas {
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script>
    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addListener(map, 'center_changed', centerChanged);
    google.maps.event.addListener(map, 'zoom_changed', zoomChanged);
    google.maps.event.addListenerOnce(map, 'load', function(){
        $('.blur').blurjs({
            source: 'body',
            radius:10
        });
    });

    var map;
    var myloc;
    var maxZoomLevel = 30;
    var maxZoomService = new google.maps.MaxZoomService();

    function initialize() {
        var mapOptions = {
                zoom: 16,
                minZoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                mapTypeControl: false,
                panControl: false,
                scaleControl: true,
                streetViewControl: false,
                overviewMapControl: false
            };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        myloc = new google.maps.Marker({
            clickable: false,
            shadow: null,
            icon: "http://i.stack.imgur.com/orZ4x.png",
            map: map
        });

        if (!!navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            map.setCenter(new google.maps.LatLng(-34.397, 150.644));
        }
    }

    function showPosition(position) {
        var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map.setCenter(geolocate);
        myloc.setPosition(geolocate);
    }

    function showError(error) {
        switch (error.code) {
        case error.PERMISSION_DENIED:
            break;
        case error.POSITION_UNAVAILABLE:
            break;
        case error.TIMEOUT:
            break;
        case error.UNKNOWN_ERROR:
            break;
        }
        map.setCenter(new google.maps.LatLng(-34.397, 150.644));
    }

    function centerChanged() {
        maxZoomService.getMaxZoomAtLatLng(map.getCenter(), function (MaxZoomResult) {
            if (MaxZoomResult.status == google.maps.MaxZoomStatus.OK) {
                maxZoomLevel = MaxZoomResult.zoom;
            }
        });
    }

    function zoomChanged() {
        if (map.getZoom() > maxZoomLevel) {
            map.setZoom(maxZoomLevel);
        }
    }
</script>