<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script type="text/javascript" src="/linker/js/map.js"></script>
<link rel="stylesheet" type="text/css" href="/linker/styles/main.css">

<div id="nav">
    <div id="leftHeaderContent">
        <input type="button" id="menuButton" clase="btn btn-warning"></input>
    </div>
    <a href="/" id="logo" data-force-refresh="1">WatchOut</a>
    <div id="rightHeaderContent">
        <a href="#signInModal" role="button" class="btn btn-warning btn-nav" data-toggle="modal">Sign In</a>
        <a href="#registerModal" role="button" class="btn btn-warning btn-nav" data-toggle="modal">Register</a>
    </div>
</div>
<div id="map-canvas" onkeyup="shortCut(event)"></div>
<% include ../modals/signin %>
<% include ../modals/register %>
