<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script>
    $(function () {
        var body = $(this).find("body");
        var nav = $(this).find("#nav");
        var login = $(this).find("#login-canvas");
        var map = $(this).find("#map-canvas");
        map.css("height", body.height() - nav.height() - login.height());
    });
</script>
<style>
    html,
    body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    #nav {
        background: #e8a228;
        height: 40px;
        margin: 0px;
        padding: 0px;
    }
    #login-canvas {
        background: #fbfbfb;
        height: 600px;
        margin: 0px;
        padding: 0px;
    }
    #map-canvas {
        margin: 0px;
        padding: 0px;
    }
    #title {
        color: #e8a228;
        font-family: "Verdana";
        font-size: 45px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    #title-sub {
        color: #63450b;
        font-family: "Courier New";
        font-size: 40px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script>
    var map;
    var myloc;
    var maxZoomLevel = 30;
    var maxZoomService = new google.maps.MaxZoomService();

    function initialize() {
        var mapOptions = {
                zoom: 16,
                minZoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                mapTypeControl: false,
                panControl: false,
                scaleControl: true,
                streetViewControl: false,
                overviewMapControl: false
            };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        myloc = new google.maps.Marker({
            clickable: false,
            shadow: null,
            icon: "http://i.stack.imgur.com/orZ4x.png",
            map: map
        });

        if (!!navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            map.setCenter(new google.maps.LatLng(-34.397, 150.644));
        }

        google.maps.event.addListener(map, 'center_changed', centerChanged);
        google.maps.event.addListener(map, 'zoom_changed', zoomChanged);
    }

    function showPosition(position) {
        var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map.setCenter(geolocate);
        myloc.setPosition(geolocate);
    }

    function showError(error) {
        switch (error.code) {
        case error.PERMISSION_DENIED:
            break;
        case error.POSITION_UNAVAILABLE:
            break;
        case error.TIMEOUT:
            break;
        case error.UNKNOWN_ERROR:
            break;
        }
        map.setCenter(new google.maps.LatLng(-34.397, 150.644));
    }

    function centerChanged() {
        maxZoomService.getMaxZoomAtLatLng(map.getCenter(), function (MaxZoomResult) {
            if (MaxZoomResult.status == google.maps.MaxZoomStatus.OK) {
                maxZoomLevel = MaxZoomResult.zoom;
            }
        });
    }

    function zoomChanged() {
        if (map.getZoom() > maxZoomLevel)
            map.setZoom(maxZoomLevel);
        }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="nav"></div>
<div id="login-canvas">
    <div></div>
    <h1 id="title">Watch Out</h1>
    <h2 id="title-sub">스마트 안전지도 소셜 네트워크 서비스</h2>
</div>
<div id="map-canvas"></div>