div(id="map-canvas" onkeyup="shortCut(event)")
div#map-widget
	button#btn-current-location.btn.btn-flat.btn-map(role="button")
		em#btn-map-ic-current-location.btn-map-ic
	div#map-widget-zoom
		button#btn-zoom-in.btn.btn-flat.btn-map(role="button")
			em#btn-map-ic-zoom-in.btn-map-ic
		button#btn-zoom-out.btn.btn-flat.btn-map(role="button")
			em#btn-map-ic-zoom-out.btn-map-ic