div#nav
  div#leftHeaderContent
    div.dropdown
      a.btn.btn-warning.btn-navbar-watchout(href="#" role="button" data-toggle="dropdown")
        em.btn-navbar-watchout-menu
      ul#dropDownMenu.dropdown-menu(role="menu" aria-labelledby="dLabel")
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") All Categories
        li.divider(role="presentation")
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") Category #1
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") Category #2
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") Category #3
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") Category #4
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") Category #5
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") Category #6
        li(role="presentation")
          a(role="menuitem" tabindex="-1" href="#") Category #7
  a#logo(href="/" data-force-refresh="1")
  div#rightHeaderContent
    a.btn.btn-warning.btn-navbar-watchout(href="#loginModal" role="button" data-toggle="modal") Log in
    a.btn.btn-warning.btn-navbar-watchout(href="#registerModal" role="button" data-toggle="modal") Register
